.Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
}

.Header {
  display: flex;
  align-items: center;
  grid-column: 1 / 3;
  border-bottom: 1px solid black;
}
