{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/prop-types": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "es2020": true
  },
  "plugins": ["@typescript-eslint", "react", "react-hooks"]
}
